# Grafana Provisioning Configuration for NexusFlow Monitoring Stack - Phase 0 MVP Deliverable

apiVersion: 1  

datasources:      
- name: Prometheus       
    type: prometheus        
      url: http://prometheus.nexusflow.dev    
        access: proxy
         isDefault: true   
           editable: false  
         
      uid: prometheus-monitoring-stack    
